*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}

.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    height: 100%;
    width: 30%;
    position:absolute;
    top: 0;
    left:0;
    transition: transform 0.5s ease-in-out;
}
.left-slide > div{
    height: 100%;
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.left-slide h1{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: -10px;
}

.right-slide{
    position: absolute;
    height: 100%;
    top: 0;
    left: 30%;
    width: 70%;  
    transition: transform 0.5s ease-in-out;
}

.right-slide >div{
    background-repeat: no-repeat ;
    background-size:cover;
    background-position: center ;
    height: 100%;
    width: 100%;
    /* transform: scale(1.2); */
}

button{
background-color: aliceblue;
border: none;
color: brown;
font-size: 10px;
padding: 12px;
}
button:hover{
    color: black;
}
button:focus{
    outline: none;
}
.slider-container .action-buttons button{
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 100;

}

.slider-container .action-buttons .down-button{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.slider-container .action-buttons .up-button{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
